body {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

header {
    background-color: #FB3F5C;
    height: 90px;
    /* width:1443px; */
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: middle;
    margin: 10px;
}

li {
    padding: 30px;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: rgb(71, 68, 68);
    font-size: 1.3em;
}

li.left {
    position: absolute;
    left: 30px;
    font-size: 32px;
    padding-bottom: 0px;   
}

.blockphoto {
position: relative;
}

#triangle {
    /* background-color: #FB3F5C; */
    opacity: 50%;
    /* width: 121px; */
    /* height: 692px; */
    border-bottom: 450px solid #FB3F5C;
    border-right: none;
    border-left: 350px solid transparent;
    /* float:right; */
    margin-top: 40px;
    z-index: 2;
    
}

.photo {
    width: 350px;
    height: 450px;
    border: 1px solid #000;
    /* float: right; */
    z-index: 1;

}

.about-me {
    width: 400px;
    height: 400px;
    overflow-wrap: normal;
}