body {
    width: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
}

/* HEADER PART */

header {
    background-color: #FB3F5C;
    height: fit-content;
    /* width:1443px; */
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    box-sizing: border-box;
    margin: 0px;
    vertical-align: middle;
}

li {
    /* padding: 30px; */
    font-weight: bold;
}

li a {
    color: rgb(71, 68, 68);
    font-size: 1.3em;
}

li div {
    padding: 20px;
}

li a:hover {
    text-decoration: none;
    color: rgb(252, 246, 246);
    text-shadow: 1px 1px 2px #FB3F5C;
}

li div:hover {
    background-color: rgba(235, 173, 182, 50%);
 
}

li.left {
    position: absolute;
    left: 30px;
    font-size: 36px;
    padding-bottom: 0px;
    padding: 30px;  
}

/* END OF HEADER */

.container-fluid {
padding: 0px;
height: 600px;
}

.row {
    height: 600px;
}
 
.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me {
    height: 200px;
    /* overflow-wrap: normal; */
    /* padding: 200px; */
    width: 700px;
    /* margin: 100px; */
    font-weight: 300;
    text-shadow: 3px 3px 2px rgb(169, 167, 167);
}

.about-me div {
    font-weight: bold;
    font-size: 1.3em;
}

.about-me div span {
    color: #FB3F5C;
}

.pinkButton {
    background-color: #FB3F5C;
    width: 223px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgb(169, 167, 167);;
}

.pinkButton :focus {
border: 0px;
}

.blockphoto {
    padding: 0px;
    margin: 0px;
    position: relative;;

}


#triangle {
    position: absolute;
    opacity: 50%;
    width: 121px;
    height: 420px;
    border-bottom: 600px solid #FB3F5C;
    border-right: none;
    border-left: 400px solid transparent;
    right: 0px;
    margin-top: 45px;
    z-index: 1;
    
}

.photo {
    position: absolute;
    /* width: 375px; */
    height: 500px;
    border-radius: 10%;
    top: 20px;
    right: 40px;
    z-index: 2;
    margin: 80px;
}
